PORT=6000
PROXY_URL=http://localhost:8080
EXTERNAL_DOLAR_API=https://dolarapi.com/v1/dolares/oficial
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion
